<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>
      <%- include('../partials/header'); %>

      <ul>
        <li><a href="/quote">Quote</a></li>
        <li><a href="/live">Live</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/subscribe">Subscribe to notifications</a></li>
        <li><a href="/favorites">Favorites</a></li>
      </ul>      

      <%- include('../partials/footer'); %>
    </body>
</html>