<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>
      <%- include('../partials/header'); %>

      <ul>
        <li><a href="/quote/aapl">Get AAPL quote</a></li>
        <li><a href="/live/aapl">Get live AAPL price</a></li>
        <li><a href="/subscribe">Subscribe to notification</a></li>
      </ul>      

      <%- include('../partials/footer'); %>
    </body>
</html>