<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>
      <%- include('../partials/header'); %>

      <main class="m-main">
        <h1>You are currently offline</h1>
        <p>Please reconnect to use this website.</p>
      </main>
      
    </body>

</html>