<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>
      <%- include('../partials/header'); %>

      <h1>You are currently offline!</h1>  

      <%- include('../partials/footer'); %>
    </body>
</html>