<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

  <%- include('../partials/header'); %>

    <body>
      <p id="errorMsg">Oops... something went wrong!</p>
      <form>
        <label>
          Symbol
          <input id="symbol" type="text">
        </label>
        <label>
          Price
          <input id="price" type="number">
        </label>
        <button type="submit">Subscribe</button>
      </form>
      
      <script>
        const vapidKey = <%- JSON.stringify(publicVapidKey) %>
      </script>
      <script src="/scripts/subscribe.js"></script>
    </body>

    <%- include('../partials/footer'); %>

</html>