<header>
  <nav>
    <img src="/images/logo.png" alt="Stonks logo">
    <p>Stonks</p>
    <ul>
      <li><a href="/symbol">Symbol lookup</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/favorites">Favorites</a></li>
    </ul>
  </nav>
</header>