<header>
  <nav>
    <p>Stonks</p>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/symbol">Symbol</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/favorites">Favorites</a></li>
    </ul>
  </nav>
</header>